{% extends 'registration/base.html' %}

{% block content %}
    {% include 'accountancy/crispy_form_template.html' %}
{% endblock content %}

{% block js %}
<script>
$(document).ready(function(){

    var awaiting = false;
    var form_elem_last_focussed_by_id;
    
    function validate_form(){
        
        $.ajax({
            url: "{% url 'users:validate_form' %}",
            type: "POST",
            data: "form=signup&" + $("form").serialize(),
            success: function(data, textStatus, jqXHR){
                $("form").replaceWith($(data.form_html));
                $("form").find("#" + form_elem_last_focussed_by_id).focus();
            },
            error: function(){
                alert("some error occured validating the form");
            }
        });

    }

    $(document).on("change", ":input", function(){
        if(!awaiting){
            validate_form();
        }
    });

    $(document).on("focus", ":input", function(){
        form_elem_last_focussed_by_id = $(this).attr("id");
    });

    $(document).on("submit", "form", function(e){
        e.preventDefault();
    });

});
</script>
{% endblock js %}