{% extends 'accountancy/single_object_detail_with_audit.html' %}

{% load permission_tags %}
{% load utility_tags %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.2/css/rowGroup.dataTables.min.css">
    <style>

        table.dataTable td {
            padding-left: 0.75rem !important;
            vertical-align: middle !important;
        }

        .table thead th {
            border-bottom: 0;
        }

        table.dataTable thead {
            background-color: #f5f5f5;
        }

        div.dataTables_length label {
            margin: 0;
        }

    </style>
<style>

    table.dataTable tr.dtrg-group.dtrg-level-0 td {
        background-color: #a0d5f9 !important;
    }

    .dtrg-group.dtrg-level-1 {
        font-weight: 600;
    }

    tr.even,
    tr.odd {
        background-color: white;
    }

</style>
{% endblock extra_head %}

{% block content %}
<div class="cont">
    <div>
        <div class="container">
            <div class="mt-5">
                <div class="border p-4">
                    <div class="d-flex justify-content-between">
                        <h1 class="h4 font-weight-bold mb-4">{% block header %}{{ group.name }}{% endblock header %}</h1>
                        <div>
                            <button class="btn btn-primary btn audit-btn">Audit</button>
                            <a href="{% url 'settings:group_edit' pk=group.pk %}" class="btn btn-primary">Edit</a>
                            <a href="{% url 'settings:group_edit' pk=group.pk %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div>
                            <h2 class="h5">Permissions</h2>
                            {% if edit %}
                            <form method="POST" action="">
                                {% csrf_token %}
                            {% endif %}
                            <table class="mt-4 table perms_table">
                                <thead>
                                    <tr>
                                        <th>Module</th>
                                        <th>Abstract</th>
                                        <th></th>
                                        <th style="text-align: center; width: 100px;">Create</th>
                                        <th style="text-align: center; width: 100px;">Edit</th>
                                        <th style="text-align: center; width: 100px;">View</th>
                                        <th style="text-align: center; width: 100px;">Delete | Void</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% block tbody %}
                                        {% autoescape off %}
                                            {% for row in perm_table_rows %}
                                                {% include 'settings/perm_object_detail.html' %}
                                            {% endfor %}
                                        {% endautoescape %}
                                    {% endblock tbody %}
                                </tbody>
                            </table>
                            {% if edit %}
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success">Save</button>
                            </div>
                            {% endif %}
                            <div class="mt-3 d-none audit_section p-3 border rounded">
                                <h2 class="h4 font-weight-bold">Audit</h2>
                                {% include 'accountancy/audit.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block module_js %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready(function(){

        var table = $("table.perms_table").DataTable({
            "paging": false,
            dom: "t",
            order: [
                [0, 'asc'],
                [1, 'asc'],
                [2, 'asc']
            ],
            rowGroup: {
                dataSrc: [0,1],
                emptyDataGroup: null,

            },
            columnDefs: [
                { targets: [0, 1], visible: false},
            ]
        });

        $("table.perms_table tbody tr").addClass("pointer");
        $("table.perms_table tbody tr").not(".dtrg-group.dtrg-start.dtrg-level-0").toggleClass("collapse");
        $("table.perms_table tbody tr").on("click", function(){
            var $tr = $(this);
            if($tr.hasClass("dtrg-level-0")){
                var $siblings = $tr.nextAll();
                $siblings.each(function(index, elem){
                    var $sibling = $(elem);
                    if($sibling.hasClass("dtrg-level-0")){
                        return false;
                    }
                    $sibling.toggleClass("collapse");
                });
            }
        });

    });
</script>
{% endblock module_js %}