{% extends 'base.html' %}

{% load permission_tags %}
{% load utility_tags %}

{% block head %}
<style>
    .dtrg-group.dtrg-level-0 {
        font-weight: 900;
    }

    .dtrg-group.dtrg-level-1 {
        font-weight: 600;
    }

    tr.even,
    tr.odd {
        background-color: white;
    }

</style>
{% endblock head %}

{% block content %}
<div class="cont">
    <div>
        <div class="container">
            <div class="mt-5">
                <div class="border p-4">
                    <h1 class="h4 font-weight-bold mb-4">{% block header %}Purchase Ledger Clerk Group{% endblock header %}</h1>
                    <div>
                        <h2 class="h5">Permissions</h2>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <table class="mt-4 table w-50">
                                <thead>
                                    <tr>
                                        <th>Module</th>
                                        <th>Abstract</th>
                                        <th>Object</th>
                                        <th style="text-align: center; width: 100px;">Create</th>
                                        <th style="text-align: center; width: 100px;">Edit</th>
                                        <th style="text-align: center; width: 100px;">View</th>
                                        <th style="text-align: center; width: 100px;">Void</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% block tbody %}
                                        {% autoescape off %}
                                            {% for row in perm_table_rows %}
                                                {% include 'settings/perm_object_detail.html' %}
                                            {% endfor %}
                                        {% endautoescape %}
                                    {% endblock tbody %}
                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end">
                                <button class="btn btn-success">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready(function(){

        var table = $("table").DataTable({
            "paging": false,
            dom: "t",
            order: [
                [0, 'asc'],
                [1, 'asc'],
                [2, 'asc']
            ],
            rowGroup: {
                dataSrc: [0,1],
                emptyDataGroup: null,

            },
            columnDefs: [
                { targets: [0, 1], visible: false},
            ]
        });

        $("table tbody tr").addClass("pointer");
        $("table tbody tr").not(".dtrg-group.dtrg-start.dtrg-level-0").toggleClass("collapse");
        $("table tbody tr").on("click", function(){
            var $tr = $(this);
            if($tr.hasClass("dtrg-level-0")){
                var $siblings = $tr.nextAll();
                $siblings.each(function(index, elem){
                    var $sibling = $(elem);
                    if($sibling.hasClass("dtrg-level-0")){
                        return false;
                    }
                    $sibling.toggleClass("collapse");
                });
            }
        });

    });
</script>
{% endblock js %}