{% extends 'accountancy/single_object_detail_with_audit.html' %}

{% load static %}
{% load setting_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
    <style>
        label {
            margin: 0 !important;
        }
    </style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
{% endblock extra_head %}

{% block content %}
<div class="cont">
    <div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="border data-grid p-4" style="width: 400px;">
                    <div>
                        <h1 class="h5">Financial Year</h1>
                        <div>
                            <div>
                                <div class="bg-white border p-2 my-2 rounded">{{ object.financial_year }}</div>
                            </div>
                            <div>
                                {% for period in periods %}
                                    <div class="row no-gutters my-1">
                                        <div class="rounded bg-primary text-white col-auto col-close-icon border border-primary d-flex justify-content-center align-items-center small">
                                            <div>
                                                <div>{{ period.period }}</div>
                                            </div>
                                        </div>
                                        <div class="ml-2 col">
                                            <div class="border rounded p-2 bg-white w-100">{{ period.month_end }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="mt-3 d-none audit_section p-3 border rounded">
                            <h2 class="h4 font-weight-bold">Audit</h2>
                            {% include 'accountancy/audit.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}