{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'accountancy/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_trans_grid.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.2/css/rowGroup.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
    <style>

        table.dataTable td {
            padding-left: 0.75rem !important;
            vertical-align: middle !important;
        }

        .table thead th {
            border-bottom: 0;
        }

        table.dataTable thead {
            background-color: #f5f5f5;
        }

        div.dataTables_length label {
            margin: 0;
        }

        table th {
            border-top: none !important;
        }

    </style>
<style>

    table.dataTable tr.dtrg-group.dtrg-level-0 td {
        background-color: #a0d5f9 !important;
    }

    .dtrg-group.dtrg-level-1 {
        font-weight: 600;
    }

    tr.even,
    tr.odd {
        background-color: white;
    }

</style>
{% endblock head %}

{% block content %}
<div class="cont">
    <div>
        <div class="container">
            <div class="mt-5">
                <div class="border p-4">
                    <div>
                        <div class="d-flex justify-content-between border-bottom">
                            <ul class="nav nav-tabs border-bottom-0">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#collapse_main" role="button" data-toggle="tab" aria-expanded="false" aria-controls="collapse_main">Main</a>
                                </li>
                                <li class="nav-item">
                                    <a  class="nav-link" href="#collapse_permission" role="button" data-toggle="tab" aria-expanded="false" aria-controls="collapse_permission">Permissions</a>
                                </li>
                            </ul>
                            <div>
                                <div>
                                    <a href="{% url 'settings:user_edit' pk=user.pk %}" class="btn btn-sm btn-primary">Edit</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content border border-top-0 p-3">
                            <div class="tab-pane fade show active" id="collapse_main">
                                {% block main %}
                                    <div class="my-3">
                                        <small><span class="font-weight-bold">Last logged in:</span> {{ user.last_login }}</small>
                                    </div>
                                    <div class="form-row form-group">
                                        <div class="col-6">
                                            <p class="p-2 w-100 border rounded">{{ user.first_name }}</p>
                                        </div>
                                        <div class="col-6">
                                            <p class="p-2 w-100 border rounded">{{ user.last_name }}</p>
                                        </div>
                                    </div>
                                    <div class="form-row form-group">
                                        <div class="col-12">
                                            <p class="p-2 w-100 border rounded">{{ user.email }}</p>
                                        </div>
                                    </div>
                                    <div class="form-row form-group">
                                        <div class="col-6">
                                            <input type="password" class="form-control bg-white" value="{{ user.password }}" disabled>
                                        </div>
                                        <div class="col-6">
                                            <input type="password" class="form-control bg-white" value="{{ user.password }}" disabled>
                                        </div>
                                    </div>
                                    <div>
                                        <h2 class="h6 font-weight-bold mt-4">User's Groups</h2>
                                        <ul class="list-unstyled">
                                            <li><a href="#">Purchase Ledger Clerk</a></li>
                                            <li><a href="#">Manager</a></li>
                                        </ul>
                                    </div>
                                {% endblock main %}
                            </div>
                                <div class="tab-pane fade" id="collapse_permission">
                                    {% block permissions %}
                                        <table class="mt-4 table w-100">
                                            <thead>
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Abstract</th>
                                                    <th></th>
                                                    <th style="text-align: center; width: 100px;">Create</th>
                                                    <th style="text-align: center; width: 100px;">Edit</th>
                                                    <th style="text-align: center; width: 100px;">View</th>
                                                    <th style="text-align: center; width: 100px;">Delete | Void</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% block tbody %}
                                                    {% autoescape off %}
                                                        {% for row in perm_table_rows %}
                                                            {% include 'settings/perm_object_detail.html' %}
                                                        {% endfor %}
                                                    {% endautoescape %}
                                                {% endblock tbody %}
                                            </tbody>
                                        </table>
                                    {% endblock permissions %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
<script>
    $(document).ready(function(){

        var table = $("table").DataTable({
            "paging": false,
            dom: "t",
            order: [
                [0, 'asc'],
                [1, 'asc'],
                [2, 'asc']
            ],
            rowGroup: {
                dataSrc: [0,1],
                emptyDataGroup: null,

            },
            columnDefs: [
                { targets: [0, 1], visible: false},
            ]
        });

        $("table tbody tr").addClass("pointer");
        $("table tbody tr").not(".dtrg-group.dtrg-start.dtrg-level-0").toggleClass("collapse");
        $("table tbody tr").on("click", function(){
            var $tr = $(this);
            if($tr.hasClass("dtrg-level-0")){
                var $siblings = $tr.nextAll();
                $siblings.each(function(index, elem){
                    var $sibling = $(elem);
                    if($sibling.hasClass("dtrg-level-0")){
                        return false;
                    }
                    $sibling.toggleClass("collapse");
                });
            }
        });

    });
</script>
<script>
    $('#id_groups').selectize({
        maxItems: null,
        render: {
            item: function(data, escape){
                return "<div class='item btn' data-value='" + escape(data.value) + "'>" + escape(data.text) + "</div>";
            }
        }
    });
</script>
{% endblock js %}