table.dataTable.audits thead th {
    padding: 10px 10px !important;
}

table.dataTable.audits tbody td {
    vertical-align: middle;
    padding: 2px 10px !important;
}

table.audits thead th {
    border-bottom: 0 !important;
}

table.dataTable.no-footer.audits {
    border-bottom: 0;
}

table.dataTable.audits thead th {
    border-bottom: 1px solid #dee2e6;
}

div.audit_section.audits {
    background-color: #fdfdfd;
}

.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}