table {
    table-layout: fixed;
}

thead {
    background: linear-gradient(#fff,#fafafa);
    background-color: #f5f5f5 !important;
}

.table thead th,
table thead th {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6 !important;
}

table td {
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
}

.table td {
    background-color: white;
}

table.dataTable td {
    padding-left: 0.75rem !important;
    vertical-align: middle !important;
}

table thead th label {
    margin: 0;
}

.ui-sortable-helper {
    display: table;
}

div.field_errors_wrapper {
    position: fixed;
    bottom: 1%;
    background: white;
    z-index: 10000000000000;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

/* in edit view lines which are deleted to be deleted are given this class */
.deleted-row {
    opacity: 0.2;
}