/* a horizontal bar underneath the scroller table */
.dts_label {
    display: none;
}

.input-disabled {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 0;
    padding: 0;
}

select.input-disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    direction: ltl;
}

table.dataTable {
    border-collapse: collapse !important;
}

select.input-disabled {
    text-align-last: left;
}

.dataTables_scrollBody {
    overflow-y: scroll !important;
    border-bottom: none !important;
    /* this is so the different matching tables vertically align */
}