{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load utility_tags %}

<div>
    {{ formset.management_form|crispy }}
</div>
<div class="lines" data-audit-aspect-section="line">
    <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="{{ line_form_prefix }} bg-white">
            {% specialspaceless %}
                <thead>
                    {% crispy formset.empty_form formset.empty_form.helpers.thead %}
                </thead>
                <tbody class="table-bordered">
                    {% get_forms formset as forms %}
                    {% for form in forms %}
                        {% crispy form form.helpers.tbody %}
                    {% endfor %}
                    {% if formset.include_empty_form %}
                        {% crispy formset.empty_form formset.empty_form.helpers.empty_form %}
                    {% endif %}
                </tbody>
            {% endspecialspaceless %}
    </table>
    <div class="mt-3 mb-3">
        {% if create or edit %}
        <div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary add-lines">Add New Line</button>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu add-multiple-lines">
                    <a class="dropdown-item pointer" data-lines="5">Add 5 lines</a>
                    <a class="dropdown-item pointer" data-lines="10">Add 10 lines</a>
                    <a class="dropdown-item pointer" data-lines="20">Add 20 lines</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>