{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}

    <thead>

        {% crispy formset.empty_form formset.empty_form.helpers.thead %}

    </thead>

    <tbody class="table-bordered">

        {% for form in formset %}

            {% crispy form form.helpers.tbody %}

        {% endfor %}

        {% if formset.include_empty_form %}

            {% crispy formset.empty_form formset.empty_form.helpers.empty_form %}

        {% endif %}
    
    </tbody>

{% endspecialspaceless %}