{% extends 'accountancy/single_object_detail_with_audit.html' %}

{% block content %}

<div class="cont">
    <div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="w-75">
                    <div class="border rounded p-4 mt-5">
                        <h1 class="h4 font-weight-bold">{{ vat }}</h1>
                        <div class="mt-4">
                            <div class="row small">
                                <div class="col-2">Code</div>
                                <div class="col-2">{{ vat.code }}</div>
                                <div class="w-100"></div>
                                <div class="col-2">Name</div>
                                <div class="col-2">{{ vat.name }}</div>
                                <div class="w-100"></div>
                                <div class="col-2">Rate</div>
                                <div class="col-2">{{ vat.rate }}</div>
                                <div class="w-100"></div>
                                <div class="col-2">Registered</div>
                                <div class="col-2">{{ vat.registered }}</div>
                                <div class="w-100"></div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button class="btn btn-primary btn-sm mr-2 audit-btn">Audit</button>
                            <a class="btn btn-sm btn-success" href="{% url 'vat:vat_edit' pk=vat.pk %}">Edit</a>
                        </div>
                        <div class="d-none mt-3 audit_section p-3 border rounded">
                            <h2 class="h4 font-weight-bold">Audit</h2>
                            {% include 'accountancy/audit.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}