{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
<style>
    .modal-footer{
        border: 0 !important;
    }
</style>
{% endblock head %}

{% block content %}

<div class="cont">
    <div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="w-75">
                    <div class="border rounded p-4 mt-5">
                        <h1 class="h4 font-weight-bold">{% firstof cashbook 'Create Cashbook' %}</h1>
                        <div class="mt-4">
                            {% load crispy_forms_tags %}
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block modal_forms %}
    {% include 'accountancy/nominal_modal.html' %}
{% endblock modal_forms %}

{% block js %}
<script src="{% static 'js/selectize.min.js' %}"></script>
<script src="{% static 'js/modal_form.js' %}"></script>
<script src="{% static 'accountancy/js/input_grid_selectize.js' %}"></script>
<script>
    $(document).ready(function(){
        $("select[name='nominal-parent']").selectize();
        input_grid_selectize.nominal("select[name='cashbook-nominal']");
        $("button.cancel").hide();
    });
</script>
{% endblock js %}