{% extends 'base.html' %}

{% block head %}
    {% include 'accountancy/transactions_css.html' %}
{% endblock head %}

{% block content %}
    <div class="custom-container">
        <div class="upper mb-5 border-bottom">
            <div class="container mt-5">
                <h1 class="h4 font-weight-bold pb-2 border-bottom">CashBook Transactions</h1>
                <div class="mb-3">
                    <div class="mt-4">
                        <a href="{% url 'cashbook:create' %}?t=cbr" class="btn btn-sm btn-success mr-2">New Brought Forward Receipt</a>
                        <a href="{% url 'cashbook:create' %}?t=cbp" class="btn btn-sm btn-success mr-2">New Brought Forward Payment</a>
                        <a href="{% url 'cashbook:create' %}?t=cr" class="btn btn-sm btn-success mr-2">New Receipt</a>
                        <a href="{% url 'cashbook:create' %}?t=cp" class="btn btn-sm btn-success mr-2">New Payment</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower d-flex justify-content-center">
            <div class="container">
                {% include 'accountancy/transactions_table.html' with form=form columns=columns  %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'cashbook/js/transaction_search_form.js' %}"></script>
    {% include 'accountancy/transactions_js.html' %}
{% endblock js %}