{% extends 'nominals/view.html' %}

{% load static %}

{% block module_actions %}
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#nominalTransactions">
        Show Nominal Transactions
    </button>
{% endblock module_actions %}

{% block header_tran %}
    <div class="row">
        <div class="col-auto">
            {% comment %} this needs changing when a payee field is introduced on the cash_book {% endcomment %}
            <p class="font-weight-bold text-nowrap">From</p>
            <div class="text-nowrap">{{ header.supplier }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Date</p>
            <div class="text-nowrap">{{ header.date }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Ref</p>
            <div class="text-nowrap">{{ header.ref }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Transaction Type</p>
            <div class="text-nowrap">{{ header.get_type_display }}</div>
        </div>
    </div>
{% endblock header_tran %}

{% block nominal_transactions %}
    {% include 'accountancy/nominal_transactions.html' with nominal_transactions=nominal_transactions %}
{% endblock nominal_transactions %}