table.dataTable td {
    padding-left: 0.75rem !important;
    vertical-align: middle !important;
}

.table thead th {
    border-bottom: 0;
}

table.dataTable thead {
    background-color: #f5f5f5;
}

div.dataTables_length label {
    margin: 0;
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    background-color: #a0d5f9 !important;
}

.dtrg-group.dtrg-level-1 {
    font-weight: 600;
}

tr.even,
tr.odd {
    background-color: white;
}