{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    <div class="form-group position-relative {% if field|is_checkbox %} d-flex align-items-center {% endif %}">
        {% if form_show_errors %}
            {% for error in field.errors %}
                <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="errorField">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}

        {% if field.label %}
            {% if field|is_checkbox %}
                <label for="{{ field.id_for_label }}" class="m-0 mr-2">
                    {{ field.label|safe }}
                </label>
                {% crispy_field field %}
            {% else %}
                <label for="{{ field.id_for_label }}">
                    {{ field.label|safe }}
                </label>
            {% endif %}
        {% endif %}

        {% if not field|is_checkbox %}
            {% crispy_field field %}
        {% endif %}

        {% if field.help_text %}
            <div id="hint_{{ field.auto_id }}" class="formHint">{{ field.help_text|safe }}</div>
        {% endif %}
    </div>
{% endif %}