{% load crispy_forms_field %}
<label {% if field|is_checkbox %} class="d-block" {% endif %} for="{{ field.id_for_label }}">{{ field.label|safe }}</label>
{% comment %} changed this so that the registered checkbox for the on the fly vat object form looked better {% endcomment %}
{% crispy_field field %}
{% if field.help_text %}
    <small id="hint_{{ field.auto_id }}" class="form-text text-muted small">{{ field.help_text|safe }}</small>
{% endif %}
{% if field.errors %}
    <div class="invalid-feedback d-block">
        <ul class="list-unstyled">
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}