{% extends 'purchases/transactions.html' %}

{% block above_table %}
    <div class="upper mb-5 border-bottom">
        <div class="container mt-5">
            <h1 class="h4 font-weight-bold pb-2 border-bottom">Sale Ledger Transactions</h1>
            <div>
                <div class="mt-4">
                    <a href="{% url 'sales:create' %}?t=si" class="btn btn-sm btn-success mr-2">New Invoice</a>
                    <a href="{% url 'sales:create' %}?t=sc" class="btn btn-sm btn-success mr-2">New Credit Note</a>
                    <a href="{% url 'sales:create' %}?t=sp" class="btn btn-sm btn-success mr-2">New Receipt</a>
                    <a href="{% url 'sales:create' %}?t=sr" class="btn btn-sm btn-success mr-2">New Refund</a>
                </div>
                <div class="mt-2">
                    <a href="{% url 'sales:create' %}?t=sbi" class="btn btn-sm btn-success mr-2">New Brought Forward Invoice</a>
                    <a href="{% url 'sales:create' %}?t=sbc" class="btn btn-sm btn-success mr-2">New Brought Forward Credit Note</a>
                    <a href="{% url 'sales:create' %}?t=sbp" class="btn btn-sm btn-success mr-2">New Brought Forward Receipt</a>
                    <a href="{% url 'sales:create' %}?t=sbr" class="btn btn-sm btn-success mr-2">New Brought Forwrd Refund</a>
                </div>
            </div>
            <div class="mt-4">
                <div>
                    <ul class="nav nav-tabs border-0 small">
                        <li class="nav-item">
                            <a class="nav-link group-all color-b-1 font-weight-bold" href="{% url 'sales:transaction_enquiry' %}?group=a">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link group-awaiting-payment color-b-1 font-weight-bold" href="{% url 'sales:transaction_enquiry' %}?group=ap">Awaiting Payment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger group-overdue font-weight-bold" href="{% url 'sales:transaction_enquiry' %}?group=o">Overdue</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link group-paid color-b-1 font-weight-bold" href="{% url 'sales:transaction_enquiry' %}?group=p">Paid</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock above_table %}