{% extends 'base.html' %}

{% block head %}
    {% include 'accountancy/transactions_css.html' %}
{% endblock head %}

{% block content %}
    <div class="custom-container">
        <div class="upper mb-5 border-bottom">
            <div class="container mt-5">
                <h1 class="h4 font-weight-bold pb-2 border-bottom">Sale Ledger Transactions</h1>
                <div>
                    <div class="mt-4">
                        <a href="{% url 'sales:create' %}?t=si" class="btn btn-sm btn-success mr-2">New Invoice</a>
                        <a href="{% url 'sales:create' %}?t=sc" class="btn btn-sm btn-success mr-2">New Credit Note</a>
                        <a href="{% url 'sales:create' %}?t=sp" class="btn btn-sm btn-success mr-2">New Receipt</a>
                        <a href="{% url 'sales:create' %}?t=sr" class="btn btn-sm btn-success mr-2">New Refund</a>
                    </div>
                </div>
                <div class="mt-4">
                    <div>
                        <ul class="nav nav-tabs border-0 small">
                            <li class="nav-item">
                                <a class="nav-link group-all color-b-1 font-weight-bold" href="{% url 'sales:transaction_enquiry' %}?group=a">All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link group-awaiting-payment color-b-1 font-weight-bold" href="{% url 'sales:transaction_enquiry' %}?group=ap">Awaiting Payment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-danger group-overdue font-weight-bold" href="{% url 'sales:transaction_enquiry' %}?group=o">Overdue</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link group-paid color-b-1 font-weight-bold" href="{% url 'sales:transaction_enquiry' %}?group=p">Paid</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower d-flex justify-content-center">
            <div class="w-100 trans-table-cont">
                {% include 'accountancy/transactions_table.html' with form=form columns=columns  %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    {% include 'accountancy/transactions_js.html' %}
    <script>
        $(document).ready(function(){
            function getUrlVars() {
                // https://stackoverflow.com/a/20097994
                var vars = {};
                var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
                function(m,key,value) {
                    vars[key] = value;
                });
                return vars;
            }
            var group = getUrlVars()["group"] || "a";
            var group_tabs = {
                a: "a.group-all",
                ap: "a.group-awaiting-payment",
                o: "a.group-overdue",
                p: "a.group-paid"
            };
            $(group_tabs[group]).addClass("active");
        });
    </script>
{% endblock js %}