{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
<style>
    .modal-footer{
        border: 0 !important;
    }
</style>
{% endblock head %}

{% block content %}
<div class="cont">
    <div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="w-75">
                    <div class="border rounded p-4 mt-5">
                        <h1 class="h4 font-weight-bold text-capitalize">{{ view.title }}</h1>
                        <div class="mt-4">
                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled m-0 p-0">
                                                {% for error in form.non_field_errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% load crispy_forms_tags %}
                            {% crispy form %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/selectize.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("form select").selectize();
        var val = $("select[name='financial_year']").val();
        if(!val){
            $("input[name='complete']").prop("disabled", true);
        }
    });
</script>
{% endblock js %}