{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block head %}
    {% include 'accountancy/transactions_css.html' %}
{% endblock head %}

{% block content %}
    <div class="custom-container">
        <div class="upper mb-5 border-bottom">
            <div class="container mt-5">
                <h1 class="h4 font-weight-bold pb-2 border-bottom">Nominal Transactions</h1>
                <div class="mb-3">
                    <div class="mt-4">
                        <a href="{% url 'nominals:create' %}?t=nj" class="btn btn-sm btn-success mr-2">New Journal</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower d-flex justify-content-center">
            <div class="container">
                {% include 'accountancy/transactions_table.html' with form=form columns=columns  %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block modal_forms %}
    {% include 'accountancy/nominal_modal.html' %}
{% endblock modal_forms %}

{% block js %}
    {% load static %}
    <script src="{% static 'accountancy/js/input_grid_selectize.js' %}"></script>
    <script src="{% static 'nominals/js/transaction_search_form.js' %}"></script>
    {% include 'accountancy/transactions_js.html' %}
    <script>
        {% comment %} for the modal window {% endcomment %}
        $(document).ready(function(){
            $("select[name='nominal-parent']").selectize();
        });
    </script>
{% endblock js %}