{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_trans_grid.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowgroup/1.1.2/css/rowGroup.bootstrap4.min.css">
    <link rel="stylesheet" href="{% static 'accountancy/css/matching.css' %}">
    <style>

        tr.dtrg-level-0 td {
            padding-left: 1.5em !important;
        }

        tr.dtrg-level-1 td {
            padding-left: 3em !important;
        }

        tr.odd td:first-child,
        tr.even td:first-child {
            padding-left: 4.5em !important;
        }

        table.dataTable td.value {
            padding-left: 1.5em !important;
        }

        tfoot {
            background-color: #D4D4D4;
            font-weight: 900;
        }

    </style>
    {% block extra_head %}
    {% endblock extra_head %}
{% endblock head %}
 
{% block content %}

<div class="cont">
    <div>
        <div class="d-flex justify-content-center">
            <div>
                <div class="border data-grid p-4 position-relative">
                    <div class="form_and_errors_wrapper">
                        {% include 'accountancy/crispy_form_template.html' %}
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <table class="table report" style="min-width: 800px;">
                            <thead>
                                <tr>
                                    {% for col in columns %}
                                        <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="table-bordered">
                                {% for row in report %}
                                    <tr>
                                        <td>{{ row.nominal }}</td>
                                        <td>{{ row.parents.1 }}</td>
                                        <td>{{ row.parents.0 }}</td>
                                        {% if row.total > 0 %}
                                            <td class="value">{{ row.total }}</td>
                                            <td class="value"></td>
                                        {% else %}
                                            <td class="value"></td> 
                                            <td class="value">{{ row.total }}</td>                                       
                                        {% endif %}
                                        {% if row.total > 0 %}
                                            <td class="value">{{ row.ytd }}</td>
                                            <td class="value"></td>
                                        {% else %}
                                            <td class="value"></td> 
                                            <td class="value">{{ row.ytd }}</td>                                       
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="value">Totals</td>
                                    <td></td>
                                    <td></td>
                                    <td class="value">{{ debit_total }}</td>
                                    <td class="value">{{ credit_total }}</td>
                                    <td class="value">{{ ytd_debit_total }}</td>
                                    <td class="value">{{ ytd_credit_total }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready(function(){

        (function ($) {
            var unique = 0;
            var types = $.fn.dataTable.ext.type;
            // Using form $.fn.dataTable.enum breaks at least YuiCompressor since enum is
            // a reserved word in JavaScript
            $.fn.dataTable['enum'] = function ( arr ) {
                var name = 'enum-'+(unique++);
                var lookup = window.Map ? new Map() : {};
                for ( var i=0, ien=arr.length ; i<ien ; i++ ) {
                    lookup[ arr[i] ] = i;
                }
                // Add type detection
                types.detect.unshift( function ( d ) {
                    return lookup[ d ] !== undefined ?
                        name :
                        null;
                } );
                // Add sorting method
                types.order[ name+'-pre' ] = function ( d ) {
                    return lookup[ d ];
                };
            };
        })(jQuery);


        $.fn.dataTable.enum(['Revenue', 'Expenses', 'Assets', 'Liabilities', 'Equity', 'System Controls']);
        // not sure ordering is working although seems to be
        $("table.report").DataTable({
            paging: false,
            dom: "t",
            rowGroup: {
                dataSrc: [2, 1],
                emptyDataGroup: null
            },
            order: [
                [2, 'asc'],
            ],
            columnDefs: [
                {
                    OrderDatatType: "enum",
                    targets: [2]
                },
                { 
                    targets: [1, 2], visible: false
                },
            ],
        });

    });

</script>
{% endblock js %}