{% extends 'accountancy/view.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'purchases/css/purchase_input.css' %}">
{% endblock extra_head %}

{% block header_tran %}
    <div class="row">
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Date</p>
            <div class="text-nowrap">{{ header.date }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Ref</p>
            <div class="text-nowrap">{{ header.ref }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Transaction Type</p>
            <div class="text-nowrap">{{ header.get_type_display }}</div>
        </div>
    </div>
{% endblock header_tran %}

{% block totals %}
    {% include 'accountancy/totals_inc_goods_without_matching.html' %}        
{% endblock totals %}

{% block modal_forms %}
    <div class="void-modal modal fade" id="voidModal" tabindex="-1" role="dialog" aria-labelledby="voidModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title font-weight-bold" id="voidModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body small">
                Are you sure you want to void this transaction?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-sm btn-danger void">Void</button>
            </div>
            </div>
        </div>
    </div>
    {% include 'accountancy/audit_transaction.html' %}
{% endblock modal_forms %}

{% block module_js %}
<script src="{% static 'accountancy/js/nominal_transactions.js' %}"></script>
<script>

    function show_error(message){
        if(message){
            var message_html = $(message);
            message_html.addClass("void-message-error").addClass("mt-5");
            var content = message_html.find(".fixed-centre");
            content.removeClass("alert-success")
            content.addClass("alert-danger");
            $("body").find(".void-message-error").remove();
            $("body").append(message_html)
            $(".void-modal").modal("hide");
        }
        else{
            alert("Something went wrong, please try again later.");
        }
    }

    $(document).ready(function() {
        $("form.void-form").on("click", function(event) {
            $(".void-modal").modal("show");
        });
        $("button.void").on("click", function() {
            var form = $("form.void-form");
            $.ajax({
                url: form.attr("action"),
                method: "POST",
                data: form.serialize(),
                success: function (data) {
                    if(data.success) {
                        // set cookie or something to say void was successful
                        // server then adds a message which is shown at data.href URL
                        return window.location.href = data.href;
                    }
                    else{
                        show_error(data.error_message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("There was an error creating the new item", jqXHR, textStatus, errorThrown);
                    show_error();
                }
            });
        });
    });
</script>
{% endblock module_js %}