{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_trans_grid.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href"https://cdn.datatables.net/scroller/2.0.2/css/scroller.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'accountancy/css/matching.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
{% endblock head %}
 
{% block content %}

<div class="cont">
    <div>
        <div class="d-flex justify-content-center">
            <div>
                <div class="border data-grid p-4 position-relative">
                    {% include 'purchases/creditors_form.html' %}
                    <div class="mt-4 d-flex justify-content-center">
                        <table class="report" style="width: 100%;">
                            <thead>
                                <tr>
                                    {% for col in columns %}
                                        <th>{{ col.label }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="table-bordered">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/scroller/2.0.2/js/dataTables.scroller.min.js"></script>
<script>

    $(document).ready(function(){

            var form_p = $("form.creditor_form").parents().eq(0);

            var report_table = $("table.report")
            .DataTable({
                ajax: function(data, callback, settings){
                    data["from_supplier"] = $(":input[name='from_supplier']").val() || "";
                    data["to_supplier"] = $(":input[name='to_supplier']").val() || "";
                    data["period"] = $("input[name='period']").val() || "";
                    $.ajax({
                        url: "{% url 'purchases:creditors_report' %}",
                        type: "GET",
                        data: data,
                        success: function(data, textStatus, jqXHR){
                            if(data.success){
                                callback(data.data);
                            }
                            else{
                                callback(data);
                                form_p.find("form").replaceWith($(data.form_html));
                            }
                        },
                        complete: function(jqXHR, textStatus){
                            if(textStatus != "success"){
                                console.log("Failed to get data for report");
                                console.log("logging...");
                                console.log(jqXHR);
                                console.log(textStatus);
                                console.log("end report logging");
                                alert("There was an error, please try again later.");
                            }
                        }
                    });
                },
                columns: [
                    {% for column in columns %}
                        { 'data' : '{{ column.field }}' },
                    {% endfor %}
                ],
                columnDefs: [
                    {"className": "dt-center", "targets": "_all"},
                ],
                dom: 't',
                scrollY: 250,
                deferRender: true,
                scroller: true,
                serverSide: true,
                scrollCollapse: true,
                language: {
                    zeroRecords: "No transactions found"
                },
            });

            form_p.find("form").on("submit", function(e){
                e.preventDefault();
                report_table.ajax.reload();
            });

    });

</script>
{% endblock js %}