{% extends 'nominals/edit.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block totals %}
    {% if main_header.is_payment_type %}
        {% include 'accountancy/totals_exc_goods_with_matching.html' %}
    {% else %}
        {% include 'accountancy/totals_inc_goods_with_matching.html' %}        
    {% endif %}
{% endblock totals %}

{% block buttons_footer %}
<div class="d-flex justify-content-between align-items-center p-2 border bg-white">
    <div>
        <button type="button" class="btn btn-primary btn-sm" data-backdrop="false" data-toggle="modal" data-target="#auditModal">
            Audit
        </button>
        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#nominalTransactions">
            Show Nominal Transactions
        </button>
    </div>
    <div>
        <button type="submit" class="btn btn-success xero-btn approve" name="approve" value="do_not_add_another">Save</button>
    </div>
</div>
{% endblock buttons_footer %}

{% block nominal_transactions %}
    {% include 'accountancy/nominal_transactions.html' with nominal_transactions=nominal_transactions %}
{% endblock nominal_transactions %}

{% block matching %}
    {% crispy match_formset %}
{% endblock matching %}

{% block under_form %}
    {% include 'accountancy/outstanding.html' %}
{% endblock under_form %}

{% block module_js %}
    <script src="{% static 'accountancy/js/nominal_transactions.js' %}"></script>
    {% include 'accountancy/edit_matching_js.html' %}
{% endblock module_js %}