{% extends 'cashbook/view.html' %}

{% load static %}

{% block header_tran %}
    <div class="row">
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">From</p>
            <div class="text-nowrap">{{ header.supplier }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Date</p>
            <div class="text-nowrap">{{ header.date }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Due Date</p>
            <div class="text-nowrap">{{ header.due_date }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Ref</p>
            <div class="text-nowrap">{{ header.ref }}</div>
        </div>
        <div class="col-auto">
            <p class="font-weight-bold text-nowrap">Transaction Type</p>
            <div class="text-nowrap">{{ header.get_type_display }}</div>
        </div>
    </div>
{% endblock header_tran %}

{% block totals %}
    {% if header.is_payment_type %}
        {% include 'accountancy/totals_exc_goods_with_matching.html' %}
    {% else %}
        {% include 'accountancy/totals_inc_goods_with_matching.html' %}        
    {% endif %}
{% endblock totals %}

{% block matching %}
    <div class="border data-grid bg-white position-relative">
        <div class="my-4 px-3 py-2">
            <div>
                <h2 class="h6 font-weight-bold">Matching</h2>
            </div>
            <div>
                <div class="matched_transactions_wrapper">
                    <table class="existing_matched_transactions">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Ref</th>
                                <th>Total</th>
                                <th>Paid</th>
                                <th>Due</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for match in matches %}
                                <tr>
                                    <td>{{ match.type }}</td>
                                    <td>{{ match.ref }}</td>
                                    <td>{{ match.total }}</td>
                                    <td>{{ match.paid }}</td>
                                    <td>{{ match.due }}</td>
                                    <td>{{ match.value }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock matching %}