{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'accountancy/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_trans_grid.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/audit_table.css' %}">
    <style>

        div.contact-details {
            background-color: #fdfdfd;
        }

    </style>
    {% block extra_head %}
    {% endblock extra_head %}
{% endblock head %}
 
{% block content %}

<div class="cont">
    <div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="border rounded w-75 p-4 mt-5">
                    <h1 class="h4 font-weight-bold">Contact Details</h1>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-primary btn-sm mr-2 audit-btn">Audit</button>
                        <a href="{{ edit_href }}" class="btn btn-success btn-sm" role="button">Edit</a>
                    </div>
                    <div>
                        <div class="small border rounded p-4 my-2 contact-details">
                            <div class="row no-gutters">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Code</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ contact.code }}
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Name</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ contact.name }}
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Email</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ contact.email }}
                                </div>
                            </div>
                        </div>
                        {% include 'accountancy/single_object_audit.html' %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="{% static 'accountancy/js/audit.js' %}"></script>
<script>
    $(document).ready(function(){
        
        $("button.audit-btn").on("click", function(){
            $("div.audit_section").toggleClass("d-none");
        });

    });
</script>
{% endblock js %}