{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.css"/>
    <link rel="stylesheet" href="{% static 'accountancy/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_trans_grid.css' %}">
    <style>

        table.dataTable td {
            padding-left: 0.75rem !important;
            vertical-align: middle !important;
        }

        .table thead th {
            border-bottom: 0;
        }

        table.dataTable thead {
            background-color: #f5f5f5;
        }

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }

        div.dataTables_length label {
            margin: 0;
        }

        li.list-group-item {
            border: none;
        }

        tr:hover {
            cursor: pointer;
        }

        .list-item-selected {
            border-left: 5px solid #007bff;
        }

        .list-item-unselected {
            border-left: 5px solid white;
        }

    </style>
    {% block extra_head %}
    {% endblock extra_head %}
{% endblock head %}
 
{% block content %}

<div class="cont">
    <div>
        <div class="container">
            <div class="mt-5">
                <div class="row no-gutters border">
                    <div class="col-2 border-right">
                        <ul class="list-group">
                            <a href="{% url 'contacts:list' %}?q=all" class="link-unstyled {% if contact_filter == "all" %} list-item-selected {% else %} list-item-unselected {% endif %}">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {% if contact_filter == "all" %}<strong>All</strong>{% else %}All{% endif %}
                                    <span class="badge badge-primary badge-pill">{{ counts.all }}</span>
                                </li>                            
                            </a>
                            <a href="{% url 'contacts:list' %}?q=customers" class="link-unstyled {% if contact_filter == "customer" %} list-item-selected {% else %} list-item-unselected {% endif %}">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {% if contact_filter == "customers" %}<strong>Customers</strong>{% else %}Customers{% endif %}
                                    <span class="badge badge-primary badge-pill">{{ counts.customers }}</span>
                                </li>                            
                            </a>
                            <a href="{% url 'contacts:list' %}?q=suppliers" class="link-unstyled {% if contact_filter == "supplier" %} list-item-selected {% else %} list-item-unselected {% endif %}">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {% if contact_filter == "suppliers" %}<strong>Suppliers</strong>{% else %}Suppliers{% endif %}
                                    <span class="badge badge-primary badge-pill">{{ counts.suppliers }}</span>
                                </li>                            
                            </a>
                        </ul>
                    </div>
                    <div class="col d-flex-column p-3">
                        <div class="d-flex justify-content-between mt-2 mb-4">
                            <div>
                                <h1 class="p-0 m-0 h4 font-weight-bold">Contacts</h1>
                            </div>
                            <div>
                                <a class="btn btn-success" href="{% url 'contacts:create' %}" role="button">New Contact</a>
                            </div>
                        </div>
                        <div>
                            <div class="d-none">
                                {% comment %} this search box is moved when the jquery datatable is initialised {% endcomment %}
                                <div class="form-group has-search w-100 m-0">
                                    <span class="fa fa-search form-control-feedback"></span>
                                    <input type="text" name="search" class="contact-search form-control" placeholder="Search">
                                </div>
                            </div>
                            <table class="table">
                                <thead class="thead">
                                    <tr>
                                        {% comment %} <th class="text-center">
                                            <input type="checkbox" name="select_all" value="1" id="example-select-all" class="align-middle">
                                        </th> {% endcomment %}
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/datatables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.21/pagination/select.js"></script>
<script src="{% static 'accountancy/js/datatable_extensions.js' %}"></script>
<script>
    $(document).ready(function(){
   
        function enable_search () {
            var search_box = $("div.has-search");
            search_box.find(":input[name='search']").on("keyup", function(){
                table.search($(this).val());
                table.ajax.reload();
            });
        }

        function add_row_events(){
            $("tbody tr").on("click", function(){
                var href = $(this).data("href");
                return window.location.href = href;
            });
        }

        var table = $("table")
        .on('init.dt', function (e, settings, json) {
            console.log("init");
            var search_box = $("div.has-search");
            $("div.search-col").append(search_box);    
            add_row_events();
            enable_search();        
        })  
        .DataTable({
            ajax: {
                url: "",
            },
            serverSide: true,
            order: [
                [ 0, 'asc' ]
            ],
            columns: [
                {
                    "data": "code"
                },
                {
                    "data": "name"
                },
                {
                    "data": "email"
                },
            ],
            dom: "<'row'<'d-flex align-items-center col-6'l><'search-col d-flex align-items-center col-6'>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'d-flex align-items-center col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
        });

        table.on('draw', function (e, settings) {
            add_row_events();
            enable_search();
        });

    });
</script>
{% endblock js %}