{% extends 'accountancy/single_object_detail_with_audit.html' %}

{% block content %}

<div class="cont">
    <div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="border rounded w-75 p-4 mt-5">
                    <h1 class="h4 font-weight-bold">Contact Details</h1>
                    <div class="d-flex justify-content-end mt-3">
                        <button class="btn btn-primary mr-2 audit-btn">Audit</button>
                        <a href="{% url 'contacts:edit' pk=contact.pk %}" class="btn btn-success" role="button">Edit</a>
                    </div>
                    <div>
                        <div class="border rounded p-4 my-2 contact-details">
                            <div class="row no-gutters">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Code</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ contact.code }}
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Name</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ contact.name }}
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-sm-3 col-md-2 col-5">
                                    <label style="font-weight:bold;">Email</label>
                                </div>
                                <div class="col-md-8 col-6">
                                    {{ contact.email }}
                                </div>
                            </div>
                        </div>
                        <div class="d-none audit_section p-3 border rounded">
                            <h2 class="h4 font-weight-bold">Audit</h2>
                            {% include 'accountancy/audit.html' %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}