.px {
    height: 1px !important;
}

.input-wrapper {
    height: 1px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.input-dropdown-widget {
    height: 100% !important;
}

.input-dropdown-widget-wrapper {
    height: 36px !important;
}