{% load static %}
{% load crispy_forms_utils %}
{% specialspaceless %}
<div class="input-dropdown-widget-wrapper position-relative">
    <div class="label p-1">{% if widget.value %}{{ widget.label }}{% endif %}</div>
    <div class="input-wrapper">
        <div class="input-dropdown-widget d-flex">
            <input name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} value="{{ widget.value }}">
            <div class="dropdown-btn d-flex align-items-center pointer py-1 px-2 border-left">
                <img src="{% static 'images/arrow-down.png' %}">
            </div>
        </div>
        <ul class="dropdown position-absolute">
            <li class="new-btn font-weight-bold color-b-1">+ New Item</li>
            {% include 'accountancy/widgets/input_dropdown_options.html' with optgroups=widget.optgroups %}
        </ul>
    </div>
</div>
{% endspecialspaceless %}