{% extends 'controls/fy_detail.html' %}

{% block content %}
<div class="cont">
    <div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="border data-grid p-4">
                    <div>
                        <div>
                            <div>
                            {% comment %} form is in fact a formset {% endcomment %}
                            {% if form.has_non_field_errors %}
                                <div class="alert alert-danger">
                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-unstyled m-0 p-0">
                                                {% for error in form.non_form_errors %}
                                                    <li>{{ error }}</li>
                                                {% endfor %}
                                                {% for f in form %}
                                                    {% for error in f.non_field_errors %}
                                                        <li>{{ error }}</li>
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                {% crispy form %}
                            <div class="text-right">
                                <button class="btn btn-success">Adjust</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}