{% extends 'accountancy/single_object_detail_with_audit.html' %}

{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
    <link rel="stylesheet" href="{% static 'controls/css/fy.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
{% endblock extra_head %}

{% block content %}
<div class="cont">
    <div>
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="border data-grid p-4" style="width: 400px;">
                    <div class="border-bottom">
                        <div>
                            <div class="input-group" style="height: 48px;">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="fy-span" style="width:120px;">FY</span>
                                </div>
                                <div class="font-weight-bold div_input form-control">{{ financial_year.financial_year }}</div>
                            </div>
                            <div>
                                {% for period in periods %}
                                    <div class="input-group" style="height: 48px;">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text period-number" style="height: 48px; width:120px;">Period 1</span>
                                        </div>
                                        <div class="div_input form-control">{{ period.month_start|date:"M Y" }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}