{% extends 'controls/list.html' %}

{% block header %}Financial Years{% endblock header %}

{% block actions %}
<div>
    <a href="{% url 'controls:fy_adjust' %}" class="btn-primary btn">Adjust</a>
    <a href="{% url 'controls:fy_create' %}" class="btn-primary btn">Create Financial Year</a>
</div>
{% endblock actions %}

{% block object %}
    <a href="{% url 'controls:fy_view' pk=object.pk %}" class="list-group-item list-group-item-action">
        <div class="text-primary">{{ object.financial_year }}</div>
    </a>
{% endblock object %}