{% extends 'controls/group_base.html' %}

{% load crispy_forms_tags %}

{% block group_content %}
    <form method="POST" action="">
    {% csrf_token %}
    {% crispy form %}
    <h2 class="my-3 h6">Permissions</h2>
    {% include 'controls/group_content_for_edit.html' %}
    <div class="d-flex justify-content-end">
        <a class="btn btn-secondary mr-2" href="{% url 'controls:groups' %}">Cancel</a>
        <button class="btn btn-success">Save</button>
    </div>
{% endblock group_content %}