{% extends "base.html" %}

{% block content %}
<div class="cont">
    <div>
        <div class="d-flex justify-content-center">
            <div>
                <div class="border data-grid p-4 position-relative" style="width: 1000px;">
                    <div class="row">
                        <div class="col-6">
                            <div class="card">
                                <div class="d-flex justify-content-between card-header bg-white font-weight-bold">
                                    <span>Total cash in and out</span>
                                    <div>
                                        <a class="btn btn-sm btn-primary" role="button" href="{% url 'cashbook:transaction_enquiry' %}">View Cash Book</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <canvas id="chart_1" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card">
                                <div class="d-flex justify-content-between card-header bg-white font-weight-bold">
                                    <span>Owed To You</span>
                                    <a class="btn btn-sm btn-primary" role="button" href="{% url 'sales:transaction_enquiry' %}">View Sales</a>
                                </div>
                                <div class="card-body">
                                    <canvas id="chart_2" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6">
                            <div class="card">
                                <div class="d-flex justify-content-between card-header bg-white font-weight-bold">
                                    <span>Owed By You</span>
                                    <a class="btn btn-sm btn-primary" role="button" href="{% url 'purchases:transaction_enquiry' %}">View Purchases</a>
                                </div>
                                <div class="card-body">
                                    <canvas id="chart_3" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
{{ cash_in_and_out|json_script:"cash_in_and_out" }}
{{ owed_to_you|json_script:"owed_to_you" }}
{{ owed_by_you|json_script:"owed_by_you" }}
<script>
    $(document).ready(function(){

        var ctx1 = document.getElementById("chart_1").getContext("2d");

        var cash_in_and_out = JSON.parse(document.getElementById("cash_in_and_out").textContent);
        var cash_book_labels = [];
        var cash_book_ins = [];
        var cash_book_outs = [];
        for(var i in cash_in_and_out){
            var c = cash_in_and_out[i];
            cash_book_labels.push(c.period);
            cash_book_ins.push(c.in);
            cash_book_outs.push(c.out);
        }
        
        var data = {
            labels: cash_book_labels,
            datasets: [{
                label: "Cash In",
                backgroundColor: "#89d0f5",
                data: cash_book_ins
            }, {
                label: "Cash Out",
                backgroundColor: "#d6dade",
                data: cash_book_outs
            }]
        };

        var doubleBarChart = new Chart(ctx1, {
            type: 'bar',
            data: data,
            options: {
                barValueSpacing: 20,
                scales: {
                yAxes: [{
                    ticks: {
                    min: 0,
                    }
                }]
                }
            }
        });

        var ctx2 = document.getElementById("chart_2").getContext("2d");

        var owed_to_you = JSON.parse(document.getElementById("owed_to_you").textContent);
        var owed_to_you_labels = [];
        var owed_to_you_values = [];

        for(var i in owed_to_you){
            var o = owed_to_you[i];
            owed_to_you_labels.push(o.period);
            owed_to_you_values.push(o.value);
        }

        var myChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: owed_to_you_labels,
                datasets: [{
                    label: 'you are owed',
                    data: owed_to_you_values,
                    backgroundColor: [
                        "#d6dade",
                        "#89d0f5",
                        "#89d0f5",
                        "#89d0f5",
                        "#89d0f5",
                        "#89d0f5"
                    ],
                }]
            },
            options: {
                legend: false,
                scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true
                    }
                }]
                }
            }
        });

        var ctx3 = document.getElementById("chart_3").getContext("2d");

        var owed_by_you = JSON.parse(document.getElementById("owed_by_you").textContent);
        var owed_by_you_labels = [];
        var owed_by_you_values = [];

        for(var i in owed_by_you){
            var o = owed_by_you[i];
            owed_by_you_labels.push(o.period);
            owed_by_you_values.push(o.value);
        }

        var myChart = new Chart(ctx3, {
            type: 'bar',
            data: {
                labels: owed_by_you_labels,
                datasets: [{
                    label: 'you owe',
                    data: owed_by_you_values,
                    backgroundColor: [
                        "#d6dade",
                        "#89d0f5",
                        "#89d0f5",
                        "#89d0f5",
                        "#89d0f5",
                        "#89d0f5"
                    ]
                }]
            },
            options: {
                legend: false,
                scales: {
                yAxes: [{
                    ticks: {
                    beginAtZero: true
                    }
                }]
                }
            }
        });


    });
</script>
{% endblock js %}