{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accountancy/css/style.css' %}">
    {% block head %}
    {% endblock head %}
  </head>
  <body>

    <header class="p-3 bg-primary-blue text-white font-weight-bold">
      <div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Accounting</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Contacts</a>
          </li>
        </ul>
      </div>
      <div>
      
      </div>
      
    </header>

    {% block content %}
    {% endblock content %}

    {% block modal_forms %}
    {% endblock modal_forms %}

    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block js %}
    {% endblock js %}
    <script src="{% static 'accountancy/js/content_loaded.js' %}"></script>
  </body>
</html>