{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_trans_grid.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href"https://cdn.datatables.net/scroller/2.0.2/css/scroller.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'accountancy/css/matching.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
{% endblock head %}
 
{% block content %}

<div class="cont">
    <div>
        <div class="d-flex justify-content-center">
            <div>
                <div class="border data-grid p-4 position-relative">
                    <div class="form_and_errors_wrapper">
                        {% include 'accountancy/aged_matching_report_form.html' %}
                    </div>
                    <div class="mt-4 d-flex justify-content-center">
                        <table class="report">
                            <thead>
                                <tr>
                                    {% for col in columns %}
                                        <th>{{ col.label }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody class="table-bordered">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block modal_forms %}
    <div class="modal-on-the-fly-forms">
        <div class="modal fade" id="new-contact" tabindex="-1" role="dialog"  aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold" id="exampleModalLabel">New Contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% crispy contact_form %}
                </div>
            </div>
        </div>
    </div>
{% endblock modal_forms %}


{% block js %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/scroller/2.0.2/js/dataTables.scroller.min.js"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
<script src="{% static 'js/modal_form.js' %}"></script>
<script src="{% static 'accountancy/js/contact_selectize.js' %}"></script>
<script>

    $(document).ready(function(){

            // from server
            var contact_field_name = "{{ contact_field_name }}";
            var from_contact_field = "{{ from_contact_field }}";
            var to_contact_field = "{{ to_contact_field }}";
            var report_url = "{{ request.path }}";

            // from client
            var native_select_widget = $(":input[name='" + from_contact_field + "']");
            var creation_url = native_select_widget.attr("data-creation-url");
            var form = native_select_widget.attr("data-form");
            var form_field = native_select_widget.attr("data-form-field");
            var load_url = native_select_widget.attr("data-load-url");

            var form_wrapper = $("div.form_and_errors_wrapper");

            function form_init(){

                contact_selectize({
                    select_identifier: ":input[name='" + from_contact_field + "']",
                    creation_url: creation_url,
                    form: form,
                    form_field: form_field,
                    load_url: load_url
                });

                contact_selectize({
                    select_identifier: ":input[name='" + to_contact_field + "']",
                    creation_url: creation_url,
                    form: form,
                    form_field: form_field,
                    load_url: load_url
                });

                form_wrapper.find("form").on("submit", function(e){
                    e.preventDefault();
                    report_table.ajax.reload();
                });
            }

            form_init();

            var report_table = $("table.report")
            .DataTable({
                ajax: function(data, callback, settings){
                    data[from_contact_field] = $(":input[name='" + from_contact_field + "']").val() || "";
                    data[to_contact_field] = $(":input[name='" + to_contact_field + "']").val() || "";
                    data["period"] = $(":input[name='period']").val() || "";
                    var show_transactions = $(":input[name='show_transactions']").prop("checked");
                    if(show_transactions){
                        data["show_transactions"] = "yes"
                    }
                    $.ajax({
                        url: report_url,
                        type: "GET",
                        data: data,
                        success: function(data, textStatus, jqXHR){
                            if(data.success){
                                callback(data.data);
                            }
                            else{
                                callback(data);
                            }
                            form_wrapper.empty().append($(data.form_html));
                            form_init();
                        },
                        complete: function(jqXHR, textStatus){
                            if(textStatus != "success"){
                                console.log("Failed to get data for report");
                                console.log("logging...");
                                console.log(jqXHR);
                                console.log(textStatus);
                                console.log("end report logging");
                                alert("There was an error, please try again later.");
                            }
                        }
                    });
                },
                columns: [
                    {% for column in columns %}
                        { 'data' : '{{ column.field }}' },
                    {% endfor %}
                ],
                columnDefs: [
                    {"className": "dt-center", "targets": "_all"},
                    {
                        'render': function (data, type, full, meta) {
                            console.log(data);
                            return '<span>' + data + '</span>';
                        },
                        "targets": [2]
                    }
                ],
                dom: 't',
                scrollY: 250,
                deferRender: true,
                scroller: true,
                serverSide: true,
                scrollCollapse: false,
                language: {
                    zeroRecords: "No transactions found"
                }
            });

            var first_drawn = false;

            report_table.on("draw.dt", function(){
                var show_transactions = $(":input[name='show_transactions']").prop("checked");
                if(show_transactions){
                    report_table.columns([1,2,3]).visible(true);
                }
                else{
                    report_table.columns([1,2,3]).visible(false);
                }
                report_table.columns.adjust();
                if(!first_drawn){
                    // it seems we need to set the width of this div otherwise
                    // the table grows as we toggle between 'show' and 'hide'
                    // transactions
                    $("div.dataTables_scroll").width(
                        $("table.report").width()
                    );
                    first_drawn = true;
                }
            });

    });

</script>
{% endblock js %}