 <div class="d-flex justify-content-center">
    <div>
        <div class="border data-grid p-4">

                {% load utility_tags %}

                {% if non_field_errors  %}
                <div class="mb-3 d-flex justify-content-center">
                    <div>
                        <div class="errors p-2 border border-danger rounded d-flex small">
                            <div>
                                <svg class="bi bi-exclamation-triangle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                </svg>
                            </div>
                            <div class="ml-3">
                                <ul class="p-0 m-0 list-unstyled">
                                    <li>Please correct the following errors -
                                        <ul class="p-0 py-1 m-0 ml-3 small">
                                            {% for error in header_form.non_field_errors %}
                                                <li class="py-1">{{ error }}</li>
                                            {% endfor %}
                                            {% for error in line_formset.non_form_errors %}
                                                <li class="py-1">{{ error }}</li>
                                            {% endfor %}
                                            {% for form in line_formset %}
                                                {% if form.non_field_errors %}
                                                    {% for error in form.non_field_errors %}
                                                        <li class="py-1">{{ error }}</li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            {% for error in matching_formset.non_form_errors %}
                                                <li class="py-1">{{ error }}</li>                                               
                                            {% endfor %}
                                            {% for form in matching_formset.non_field_errors %}
                                                {% if form.non_field_errors %}
                                                    {% for error in form.non_field_errors %}
                                                        <li class="py-1">{{ error }}</li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %} 
                                        </ul>
                                    </li>
                                </ul>
                                <p class="mt-2">
                                    <span class="font-weight-bold">NOTE:  </span>
                                    Errors relating to a specific field show by a red triangle in the bottom left.  Hover over
                                    the field to see the error at the bottom of the screen.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div>
                    <h2 class="h6 font-weight-bold">Enter</h2>
                </div>
                <div>
                    <form class="formset" method="POST">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {% crispy header_form %}
                        {% if line_formset %}
                        <div>
                            {{ line_formset.management_form|crispy }}
                        </div>
                        <div {% if payment_form  %} class="lines d-none" {% else %} class="lines" {% endif %}>
                            <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="{{ line_form_prefix }}">
                                    {% crispy line_formset %}
                                    {% crispy line_formset.empty_form line_formset.empty_form.helpers.empty_form %}
                                </tbody>
                            </table>
                            <div class="mt-3 mb-5">
                                <div>
                                    <div class="dropdown-split-button">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="btn button add-lines">Add New Line</button>
                                            <button id="btnGroupDrop1" type="button" class="btn button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <div class="dropdown-menu add-multiple-lines" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item pointer" data-lines="5">Add 5 lines</a>
                                                <a class="dropdown-item pointer" data-lines="10">Add 10 lines</a>
                                                <a class="dropdown-item pointer" data-lines="20">Add 20 lines</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end totals pr-3">
                                    <div>
                                        <div class="row small black-single-border-bottom text-right">
                                            <div class="col">
                                                Subtotal
                                            </div>
                                            <div class="col sub-total-lines">
                                                0.00
                                            </div>
                                            <div class="mt-2 w-100"></div>
                                            <div class="my-2 col">
                                                Vat
                                            </div>
                                            <div class="my-2 col vat-total-lines">
                                                0.00
                                            </div>
                                        </div>
                                        <div class="py-2 row font-weight-bold h4 black-double-border-bottom text-right">
                                            <div class="col text-uppercase">
                                                total
                                            </div>
                                            <div class="col total-lines">
                                                0.00
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="d-flex justify-content-end align-items-center p-2 border bg-white">
                            <div>
                                <button type="submit" class="btn btn-success xero-btn approve" name="approve" value="add_another">Approve and add another</button>
                                <button type="submit" class="btn btn-success xero-btn approve" name="approve" value="do_not_add_another">Approve</button>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="mb-2">
                                <h2 class="h6 font-weight-bold">Matching</h2>
                                <small class="form-text text-muted">The transactions you have already selected to match to this new transaction to</small>
                            </div>
                            <div>
                                <div class="d-none matching_transactions_formset">
                                    {{ matching_formset.management_form|crispy }}
                                </div>
                                <div class="matched_transactions_wrapper">
                                    <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="matched_transactions">
                                            {% crispy matching_formset %}
                                            {% crispy matching_formset.empty_form matching_formset.empty_form.helpers.empty_form %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="mt-4">
                    <div class="mb-2">
                        <h2 class="h6 font-weight-bold">Outstanding</h2>
                        <small class="form-text text-muted">Choose transactions to match this new transaction to</small>
                    </div>
                    <div>
                        {% include 'accountancy/matching.html' %}
                    </div>
                </div>
        </div>
    </div>
</div>