{% load utility_tags %}

{% if forms_invalid  %}
<div class="mb-3 d-flex justify-content-center">
    <div>
        <div class="alert alert-danger errors p-2 border border-danger rounded d-flex">
            <div class="ml-3">
                {% if header_form.non_field_errrors or line_formset.non_field_errors or match_formset.non_field_errors %}
                <ul class="p-0 m-0 list-unstyled">
                    <li>Please correct the following errors -
                        <ul class="p-0 py-1 m-0 ml-3 small">
                            {% for error in header_form.non_field_errors %}
                                <li class="py-1">{{ error }}</li>
                            {% endfor %}
                            {% for error in line_formset.non_form_errors %}
                                <li class="py-1">{{ error }}</li>
                            {% endfor %}
                            {% for form in line_formset %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <li class="py-1">{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% for error in match_formset.non_form_errors %}
                                <li class="py-1">{{ error }}</li>                                               
                            {% endfor %}
                            {% for form in match_formset %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <li class="py-1">{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %} 
                        </ul>
                    </li>
                </ul>
                {% endif %}
                <div class='field_errors_info'>
                    <p class="mt-2 font-weight-bold">Errors relating to a specific field show by a red triangle in the bottom left.  
                    Hover over the field to see the error at the bottom of the screen.</p>
                    <p><span class="field_errors_total"></span> field errors in total.</p>
                    <p class="font-weight-bold">Browse through the errors</p>
                    <p>
                        <div class="input-group mb-3">
                            <button class="btn field_errors_btn btn-danger form-control" style="max-width: 42px;"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                            <select class="field_errors_select form-control"></select>
                            <span class="input-group-text border-left-0 border-right-0" style="max-width: 42px; border-radius: 0px;">of</span>
                            <span class="text-center field_errors_total bg-white form-control" style="max-width: 42px;">1</span>
                            <button class="btn field_errors_btn btn-danger form-control" style="max-width: 42px;"><span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></button>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}