{% load utility_tags %}

{% if non_field_errors  %}
<div class="mb-3 d-flex justify-content-center">
    <div>
        <div class="errors p-2 border border-danger rounded d-flex small">
            <div>
                <svg class="bi bi-exclamation-triangle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
            </div>
            <div class="ml-3">
                <ul class="p-0 m-0 list-unstyled">
                    <li>Please correct the following errors -
                        <ul class="p-0 py-1 m-0 ml-3 small">
                            {% for error in header_form.non_field_errors %}
                                <li class="py-1">{{ error }}</li>
                            {% endfor %}
                            {% for error in line_formset.non_form_errors %}
                                <li class="py-1">{{ error }}</li>
                            {% endfor %}
                            {% for form in line_formset %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <li class="py-1">{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                            {% for error in matching_formset.non_form_errors %}
                                <li class="py-1">{{ error }}</li>                                               
                            {% endfor %}
                            {% for form in matching_formset.non_field_errors %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <li class="py-1">{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %} 
                        </ul>
                    </li>
                </ul>
                <p class="mt-2">
                    <span class="font-weight-bold">NOTE:  </span>
                    Errors relating to a specific field show by a red triangle in the bottom left.  Hover over
                    the field to see the error at the bottom of the screen.
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}