{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.1.0/mustache.min.js" integrity="sha512-HYiNpwSxYuji84SQbCU5m9kHEsRqwWypXgJMBtbRSumlx1iBB6QaxgEBZHSHEGM+fKyCX/3Kb5V5jeVXm0OglQ==" crossorigin="anonymous"></script>
{% include 'messages_clientside.html' %}
<script src="{% static 'js/grid.js' %}"></script>
<script src="{% static 'js/error_tooltip.js' %}"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
<script src="{% static 'accountancy/js/input_grid_selectize.js' %}"></script>
<script>
    {% include "accountancy/input_grid.js" %}
</script>
<script>
    {% include "accountancy/calculator.js" %}
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'js/modal_form.js' %}"></script>
<script src="{% static 'accountancy/js/contact_selectize.js' %}"></script>
{{ header_form.media }}
<script>

    var header_errors = $(".invalid-feedback");
    var line_and_match_field_errors = $("div.has_errors");
    var total_field_errors = header_errors.length + line_and_match_field_errors.length;
    if(total_field_errors){
        // this helps the user to see the field errors in the UI
        $("span.field_errors_total").text(total_field_errors); 
        if(total_field_errors == 1){
            $("button.field_errors_btn").eq(0).attr("disabled", true);
            // leave the right arrow so the user can press a button to see the first
            // error
        }
        var select_field_errors = $("select.field_errors_select");
        var options = "";
        for(var i = 0; i < total_field_errors; i++){
            options += "<option value='" + i + "'>" + (i + 1) + "</option>";
        }
        options = $(options);
        select_field_errors.append(options);

        function go_to_error(error_index) {
            var elem = $(".invalid-feedback, div.has_errors").eq(error_index);
            elem.get(0).scrollIntoView();
        }

        select_field_errors.on("change", function(){
            var error_index = $(this).val();
            go_to_error(error_index);
        });

        var field_errors_select_selectized = $("select.field_errors_select").selectize()[0].selectize;

        var previous_error_btn = $("button.field_errors_btn").eq(0);
        var next_error_btn = $("button.field_errors_btn").eq(1);
        previous_error_btn.on("click", function(){
            var error_index = +field_errors_select_selectized.getValue() - 1;
            if(error_index < 0){
                error_index = 0;
            }
            field_errors_select_selectized.setValue(error_index, 0);
        });
        next_error_btn.on("click", function(){
            var error_index = +select_field_errors.val() + 1;
            if(error_index > total_field_errors - 1){
                error_index = total_field_errors - 1;
            }
            field_errors_select_selectized.setValue(error_index, 0);
        });
    }
    else{
        $("div.field_errors_info").hide();
        // if there are non field errors only these will show
    }

    {% if create or edit %}

        $(".transaction-type-select").selectize();

    {% endif %}

    {% if create %}

        $("select.transaction-type-select").on("change", function() {
            var transaction_type = $(this).val();
            var url = window.location.href.split('?')[0];
            window.location.href = url + "?t=" + transaction_type;
        });

    {% endif %}

    {% if create or edit %}

        var native_select_widget = $(".contact-select");
        var creation_url = native_select_widget.attr("data-creation-url");
        var form = native_select_widget.attr("data-form");
        var form_field = native_select_widget.attr("data-form-field");
        var load_url = native_select_widget.attr("data-load-url");

        contact_selectize({
            select_identifier: ".contact-select",
            creation_url: creation_url,
            form: form,
            form_field: form_field,
            load_url: load_url
        });

        $(".cashbook-select").selectize();

        // modal form html is sometimes used in non modal form contexts
        // where cancel button will want to use the href
        // this overrides this behaviour
        $("a.cancel").on("click", function(e){
            e.preventDefault();
            $(this).parents(".modal").eq(0).modal('hide');
        });

    {% endif %}

</script>