{% load static %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/grid.js' %}"></script>
<script src="{% static 'js/error_tooltip.js' %}"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
<script src="{% static 'accountancy/js/input_grid_selectize.js' %}"></script>
<script>
    {% include "accountancy/input_grid.js" %}
    {% comment %} this requires server side input so is a template {% endcomment %}
</script>
<script>
    {% include "accountancy/calculator.js" %}
    {% comment %} again needs server side injection so we know whether we have debit or credit transaction type {% endcomment %}
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'js/modal_form.js' %}"></script>
<script src="{% static 'accountancy/js/contact_selectize.js' %}"></script>
{{ header_form.media }}
<script>

    $(document).ready(function(){
        $(".datepicker").removeClass("form-control");
    });

    {% if create or edit %}

    $(".transaction-type-select").selectize();

    {% endif %}

    {% if create %}

        $("select.transaction-type-select").on("change", function() {
            var transaction_type = $(this).val();
            var url = window.location.href.split('?')[0];
            window.location.href = url + "?t=" + transaction_type;
        });

    {% endif %}

    {% comment %} 
    
    the standard example of loading from a remote source for the selectize.js library uses
    jsonp which was new to me.  JSONP was only created for loading from another domain so is not needed here.
    It was also created back in 2005 so not sure it is needed at all anymore.

    Here we just use json.  Callback is obviously a function passed in from the library itself.
    
    {% endcomment %}

    {% if create or edit %}

        var native_select_widget = $(".contact-select");
        var creation_url = native_select_widget.attr("data-creation-url");
        var form = native_select_widget.attr("data-form");
        var form_field = native_select_widget.attr("data-form-field");
        var load_url = native_select_widget.attr("data-load-url");

        contact_selectize({
            select_identifier: ".contact-select",
            creation_url: creation_url,
            form: form,
            form_field: form_field,
            load_url: load_url
        });

        $(".cashbook-select").selectize();

    {% endif %}

</script>