{% load static %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/infinite_scroll.js' %}"></script>
<script src="{% static 'js/input_dropdown_widget.js' %}"></script>
<script src="{% static 'js/grid.js' %}"></script>
<script src="{% static 'js/error_tooltip.js' %}"></script>
<script>
    {% include "accountancy/input_grid.js" %}
    {% comment %} this requires server side input so is a template {% endcomment %}
</script>
<script src="{% static 'accountancy/js/calculator.js' %}"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
{{ header_form.media }}
<script>

    $(document).ready(function(){
        $(".datepicker").removeClass("form-control");
    });

    $(".transaction-type-select").selectize();

    {% if not edit %}

        $("select.transaction-type-select").on("change", function() {
            var transaction_type = $(this).val();
            var url = window.location.href.split('?')[0];
            window.location.href = url + "?t=" + transaction_type;
        });

    {% endif %}

    {% comment %} 
    
    the standard example of loading from a remote source for the selectize.js library uses
    jsonp which was new to me.  JSONP was only created for loading from another domain so is not needed here.
    It was also created back in 2005 so not sure it is needed at all anymore.

    Here we just use json.  Callback is obviously a function passed in from the library itself.
    
    {% endcomment %}


    ModalForm.prototype.create = function (event) {
        event.stopPropagation();
        var self = this;
        $.ajax({
            url: self.form.attr("action"),
            method: "POST",
            data: self.form.serialize(),
            success: function (result) {
                if(result) {
                    self.callback({
                        value: result.id,
                        text: opts.input
                    });
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log("There was an error creating the new item", jqXHR, textStatus, errorThrown);
                self.callback({
                    value: '',
                    text: ''
                });
            },
            complete: function (jqXHR, textStatus) {
                self.remove_events();
            }
        });
    };

    ModalForm.prototype.cancel = function () {
        // it seems we have to call callback else it breaks the plugin
        // so we just pass an empty value and text
        this.callback({
            value: '',
            text: ''
        });
        this.remove_events();
    };


    ModalForm.prototype.remove_events = function () {
        this.form.off("submit", this.create);
        this.cancel_btn.off("click", this.cancel);
    };

    function ModalForm (opts) {
        this.modal = opts.modal;
        this.input = opts.input;
        this.callback = opts.callback;
        this.form = this.modal.find("form");
        this.cancel_btn = this.modal.find("button.cancel");
        this.modal.modal("show");
        this.form.on("submit", this.create.bind(this));
        this.cancel_btn.on("click", this.cancel.bind(this));
    }


    $(".supplier-select").selectize({
        valueField: 'id',
        labelField: 'name',
        searchField: 'name',
        insert: false,
        create: function(input, callback) {
            new ModalForm({
                modal: $("#exampleModal"),
                input: input,
                callback: callback
            });
        },
        load: function(query, callback) {
            $.ajax({
                url: '{% url "purchases:load_suppliers" %}',
                type: 'GET',
                dataType: 'json',
                data: {
                    q: query,
                    page_limit: 10,
                },
                error: function() {
                    console.log("error");
                },
                success: function(res) {
                    callback(res.data);
                }
            });
        }
	});
</script>