{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accountancy/css/selectize.css' %}">
    <link rel="stylesheet" href="{% static 'accountancy/css/input_trans_grid.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href"https://cdn.datatables.net/scroller/2.0.2/css/scroller.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'accountancy/css/matching.css' %}">
    {% block extra_head %}
    {% endblock extra_head %}
{% endblock head %}
 
{% block content %}
    <div class="cont">
        <div>
            <div class="d-flex justify-content-center">
                <div>
                    <div class="border data-grid p-4 position-relative">
                        <div class="invisible">
                            {% include 'accountancy/grid_errors.html' %}
                            {% block action %}
                            {% endblock action %}
                            <div>
                                {% if create or edit %}
                                <form class="formset" method="POST">
                                    {% csrf_token %}
                                {% endif %}
                                    {% load crispy_forms_tags %}
                                    <div data-audit-aspect-section="header">
                                        {% crispy header_form %}
                                    </div>
                                    {% if line_formset %}
                                    <div>
                                        {{ line_formset.management_form|crispy }}
                                    </div>
                                    <div class="lines" data-audit-aspect-section="line">
                                        <table{% if form_id %} id="{{ form_id }}_table"{% endif %} class="{{ line_form_prefix }}">
                                                {% crispy line_formset %}
                                        </table>
                                        <div class="mt-3 mb-3">
                                            {% if create or edit %}
                                            <div>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary add-lines">Add New Line</button>
                                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="sr-only">Toggle Dropdown</span>
                                                    </button>
                                                    <div class="dropdown-menu add-multiple-lines">
                                                        <a class="dropdown-item pointer" data-lines="5">Add 5 lines</a>
                                                        <a class="dropdown-item pointer" data-lines="10">Add 10 lines</a>
                                                        <a class="dropdown-item pointer" data-lines="20">Add 20 lines</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% block totals %}
                                    {% endblock totals %}
                                    {% block buttons_footer %}
                                    {% endblock buttons_footer %}
                                    {% block nominal_transactions %}
                                    {% endblock nominal_transactions %}
                                    {% block matching %}
                                    {% endblock matching %}
                                {% if create or edit %}
                                    </form>
                                {% endif %}
                            </div>
                            {% block under_form %}
                            {% endblock under_form %}
                        </div>
                        <div class="spinner-border color-b-1 loading-icon" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 errors field_errors_wrapper p-2 border border-danger rounded small">
        <div class="d-flex">
            <div>
                <svg class="bi bi-exclamation-triangle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="red" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 5zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>
            </div>
            <div class="field_error">
                {% comment %} field error ul list is inserted here {% endcomment %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    {% block extra_js %}
    {% endblock extra_js %}
    {% block module_js %}
    {% endblock module_js %}
{% endblock js %}