<div class="mt-4">
    <div class="mb-2">
        <h2 class="h6 font-weight-bold">Outstanding</h2>
        <small class="form-text text-muted">Choose transactions to match this new transaction to</small>
    </div>
    <div>
        <table class="outstanding_table">
            <thead>
                <tr>
                    <th>
                        Type
                    </th>
                    <th>
                        Ref
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Paid
                    </th>
                    <th>
                        Due
                    </th>
                    <th>
                        Match
                    </th>
                </tr>
            </thead>
            <tbody class="table-bordered">
            </tbody>
        </table>
    </div>
</div>