<div class="d-none audit_section p-3 border rounded">
    <h2 class="h4 font-weight-bold">Audit</h2>
    <table class="audits bg-white table">
        <thead class="table-bordered">
            <tr>
                <th>Datetime</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="table-bordered">
            {% for audit in audits %}
                <tr class="pointer" data-audit-pk="{{ audit.meta.AUDIT_id }}">
                    <td>{{ audit.meta.AUDIT_date }}</td>
                    <td>{{ audit.meta.AUDIT_user }}</td>
                    <td>{{ audit.meta.AUDIT_action }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="audit_fields mt-3">
        {% for audit in audits %}
            <div class="d-none" data-audit-pk="{{ audit.meta.AUDIT_id }}">
                <table class="table bg-white">
                    <thead> 
                        <tr>
                            <th>Field</th>
                            <th>Old</th>
                            <th>New</th>
                        </tr>
                    </thead>
                    <tbody class="table-bordered">
                        {% for field, change in audit.items %}
                            {% if field != "meta" %}
                                <tr>
                                    <td>{{ field }}</td>
                                    <td>{{ change.old }}</td>
                                    <td>{{ change.new }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
</div>