<div class="d-flex justify-content-end totals pr-3 mb-3">
    <div>
        <table class="ml-auto text-right w-75">
        <thead></thead>
        <tbody>
            <tr>
                <td>Goods</td>
                <td class="goods-total-lines">{% firstof header.ui_goods %}</td>
            </tr>
            <tr>
                <td>Vat</td>
                <td class="vat-total-lines">{% firstof header.ui_vat %}</td>
            </tr>
            <tr class="top-and-bottom-dotted-border font-weight-bold">
                <td class="text-uppercase">total</td>
                <td class="total-lines">{% firstof header.ui_total %}</td>
            </tr>
            <tr>
                <td class="text-primary">Matched</td>
                <td class="matched-total">{% firstof header.ui_paid %}</td>
            </tr>
            <tr class="top-solid-border bottom-double-border font-weight-bold">
                <td>Due</td>
                <td class="due-total">{% firstof header.ui_due %}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>