<div class="d-flex justify-content-end totals pr-3 mb-3">
    <div>
        <table class="ml-auto text-right w-75">
        <thead></thead>
        <tbody>
            <tr>
                <td>Goods</td>
                <td class="goods-total-lines">{{ header.ui_goods }}</td>
            </tr>
            <tr>
                <td>Vat</td>
                <td class="vat-total-lines">{{ firstof header.ui_vat }}</td>
            </tr>
            <tr class="top-and-bottom-dotted-border font-weight-bold">
                <td class="text-uppercase">total</td>
                <td class="total-lines">{{ header.ui_total }}</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>