{% load crispy_forms_tags %}

<div>
    <div class="d-none mb-3 adv-search-form border p-2 rounded">
        <div class="clearfix">
            <div class="mb-2 float-right">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
        <div class="table_form_wrapper">
            {% crispy form %}
        </div>
        <div class="d-flex align-items-center justify-content-end my-4">
            <button class="btn btn-primary search-btn">Search</button>
            <span class="small ml-2 clear-btn">or <a href="#">Clear</a></span>
        </div>
    </div>


    <table id="example" class="table display" style="width:100%">
        <thead>
            <tr>
                <th class="text-center">
                    <input type="checkbox" name="select_all" value="1" id="example-select-all" class="align-middle">
                </th>
                {% for column_label in column_labels %}
                    <th>{{ column_label }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    
</div>