{% load static %}
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.21/pagination/select.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js" integrity="sha256-5oApc/wMda1ntIEK4qoWJ4YItnV4fBHMwywunj8gPqc=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="{% static 'js/selectize.min.js' %}"></script>
<script src="{% static 'accountancy/js/datatable_extensions.js' %}"></script>
<script>
$(document).ready(function () {


    $(".adv-search-form .close").on("click", function () {
        $(".adv-search-form").toggleClass("d-none");
        $(".search-btn-trigger").show();
    });

    // Advanced Search Form
    // The Button defined at the top of the page will show this form

    $(".adv-search-form .clear-btn").on("click", function () {
        $(".adv-search-form form").get(0).reset();
        $("#id_use_adv_search").val("");
        table.ajax.reload();
    });

    $(".adv-search-form .search-btn").on("click", function (event) {
        $("#id_use_adv_search").val("yes"); // any value will do
        // before the ajax request is sent we change this to the default value ''
        // the server then checks this to see whether advanced search should be applied
        table.ajax.reload();
        // in our jquery datatable instance
        // we define the ajax property such that it reads
        // the advanced search form field values
        // and adds them to the AJAX GET request
        event.preventDefault();
    });

    // By default the server will render the input field for the
    // tempus_dominus datetime picker with a bootstrap 4 form-control
    // class which is unwanted on this occasion
    // the django plugin doesn't seem to give the option to remove
    // this class so we do so here

    $(".datepicker").removeClass("form-control");
    $(".datetimepicker").removeClass("form-control");


    // when a table row is clicked to all this
    function row_click_event () {
        var tr = $(this);
        var pk = tr.data("pk");
        var href = tr.data("href");
        window.location.href = href;
    }

    function row_checkbox_event (event) {
        event.stopPropagation();
    }

    function add_row_event () {
        // prevent bubbling on checkbox so row click event does not call callback
        $("table .row-checkbox").off("click", row_checkbox_event);
        $("table .row-checkbox").on("click", row_checkbox_event);
        $("table tbody tr").off("click", row_click_event)
        $("table tbody tr").on("click", row_click_event);
    }

    // jQuery Datatable initialisation
    var table = $('#example')
        .on('init.dt', function (e, settings, json) {
            dataTable_extensions.add_result_count_to_select_pagination_widget(settings);
            dataTable_extensions.add_alt_pagination_events(settings);
            add_row_event();
        })
        .DataTable({
            columns: [
                {
                    'data': null,
                    'searchable': false,
                    'orderable': false,
                    'className': 'dt-body-center',
                    'render': function (data, type, full, meta) {
                        return '<input type="checkbox" name="transaction" value="' + $("<div/>").text(data.id).html() + '" class="row-checkbox align-middle">';
                    }
                },

                {% for column in columns %}

                    { 'data' : '{{ column }}' },

                {% endfor %}

            ],
            dom: "<'top d-flex justify-content-between'<'left'><'right'>>t<'bottom p-2 d-flex align-items-center justify-content-between'<'d-flex bottom-left'<'p-wrapper d-flex align-items-center mr-5'p<'ml-1 result_set_count'>>l><'bottom-right'P>>",
            language: {
                sLengthMenu: "Showing _MENU_ items per page",
                emptyTable: "No transactions found"
            },
            order: [
                [ 1, 'asc' ]
            ],
            serverSide: true,
            ajax: {
                url: "", // same as 'this' url
                data: function (d) {
                    // I was using jQuery.serialize but this encodes the url
                    // Because jQuery datatables does also we get double encoding
                    var fields = $(".adv-search-form").find("form").find(":input");
                    for(var i = 0; i < fields.length; i++){
                        var field = $(fields[i]);
                        var name = field.attr("name");
                        var value = field.val();
                        if(field.attr("type") == "checkbox"){
                            if(field.get(0).checked){
                                d[name] = value;
                            }
                        }
                        else{
                            d[name] = value;
                        }
                    }
                }
            },
            sPaginationType: "listbox", // https://datatables.net/plug-ins/pagination/#listbox
            // https://stackoverflow.com/questions/13137953/dropdown-pagination-in-jquery-datatables,
            drawCallback: function () {
                $(".dataTables_paginate.paging_listbox").addClass("p-0");
            }
        });


    table.on('draw', function (e, settings) {
        dataTable_extensions.add_result_count_to_select_pagination_widget(settings);
        var p = $("div.pagination-numbers-ui-wrapper").parent();
        p.empty();
        var altPagination = new $.fn.dataTable.AltPagination(settings);
        p.append($(altPagination));
        dataTable_extensions.add_alt_pagination_events(settings);
        add_row_event();
    });


    //new $.fn.dataTable.Buttons( table, {
        //name: 'batch_payment',
        //buttons: [
            //'batch_payment'
        //]
    //} );


    new $.fn.dataTable.Buttons( table, {
        name: 'search',
        buttons: [
            'show_search_form'
        ]
    } );


    // This part of the datatables API is confusing
    // Basically buttons can either be added using the DOM method
    // where you insert a B into the dom option
    // Or by creating new buttons instances like the two above - https://datatables.net/extensions/buttons/
    // Getting the right container was not easy to understand.  See example - https://datatables.net/extensions/buttons/examples/initialisation/multiple.html
    // Simple once you know of course !

    //var batch_cont = table.buttons(0, null).container();
    var search_cont = table.buttons(0, null).container();

    //batch_cont.appendTo(".left");
    search_cont.appendTo(".right");

    $("input[name='select_all']").on("click", function(){
        // Get all rows with search applied
        var rows = table.rows({ 'search': 'applied' }).nodes();
        // Check/uncheck checkboxes for all rows in the table
        $('input[type="checkbox"]', rows).prop('checked', this.checked);
    });

    // Handle click on checkbox to set state of "Select all" control
    $('table tbody').on('change', 'input[type="checkbox"]', function(){
        // If checkbox is not checked
        if(!this.checked){
            var el = $("input[name='select_all']");
            el.prop("checked", false);
        }
        else{
            var rows = table.rows({ 'search': 'applied' }).nodes();
            var checkboxes = $('input[type="checkbox"]', rows);
            var all_checked = true;
            for(var i = 0; i < checkboxes.length; i++){
                var checkbox = $(checkboxes[i]);
                if(!checkbox.prop("checked")){
                    all_checked = false;
                    break;
                }
            }
            if(all_checked){
                $("input[name='select_all']").prop("checked", true);
            }
        }
    });

});
</script>
<script>
    $(document).ready(function(){
        $("select[name='search_within']").selectize();
    });
</script>